<a href="https://colab.research.google.com/github/iskalinov13/DCVW-Labs/blob/main/LAB4_DCVW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# for this assignment we will use ready datasets from sklearn laibrary
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
data = load_iris()
# 1. How this data is stored?

In [20]:
col_names = data['feature_names']
col_names
targets = data['target']
data = data['data']
col_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [10]:
# 2.report sizes of col_names, data and targets
print("Size of col_names is:", len(col_names))
print("Size of data is:", data.shape)
print("Size of targets is:", targets.shape)

Size of col_names is: 4
Size of data is: (150, 4)
Size of targets is: (150,)

In [24]:
# 3. Create a dataframe from data and name it as df
df = pd.DataFrame(data)
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [25]:
# 4. Name the column names as col_names in df. Example, the first column name should be 'sepal length'
df.columns = col_names
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [26]:
# 5. Add another column to df named 'Target' with the values corresponding to targets
df['Target'] = targets
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [27]:
# 6. Report the size of the dataframe
df.shape

(150, 5)

In [33]:
# 7. Check if you have missing values in df
df.isnull()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Target
0                False             False  ...             False   False
1                False             False  ...             False   False
2                False             False  ...             False   False
3                False             False  ...             False   False
4                False             False  ...             False   False
..                 ...               ...  ...               ...     ...
145              False             False  ...             False   False
146              False             False  ...             False   False
147              False             False  ...             False   False
148              False             False  ...             False   False
149              False             False  ...             False   False

[150 rows x 5 columns]

In [34]:
# 8. Sample Randomly 30 obervations from your df and store it as sample
sample = df.sample(30)
sample

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Target
46                 5.1               3.8  ...               0.2       0
36                 5.5               3.5  ...               0.2       0
13                 4.3               3.0  ...               0.1       0
68                 6.2               2.2  ...               1.5       1
71                 6.1               2.8  ...               1.3       1
111                6.4               2.7  ...               1.9       2
57                 4.9               2.4  ...               1.0       1
66                 5.6               3.0  ...               1.5       1
58                 6.6               2.9  ...               1.3       1
126                6.2               2.8  ...               1.8       2
0                  5.1               3.5  ...               0.2       0
50                 7.0               3.2  ...               1.4       1
101                5.8               2.7  ...               1.9       2
123                6.3               2.7  ...               1.8       2
74                 6.4               2.9  ...               1.3       1
104                6.5               3.0  ...               2.2       2
78                 6.0               2.9  ...               1.5       1
44                 5.1               3.8  ...               0.4       0
69                 5.6               2.5  ...               1.1       1
143                6.8               3.2  ...               2.3       2
144                6.7               3.3  ...               2.5       2
148                6.2               3.4  ...               2.3       2
65                 6.7               3.1  ...               1.4       1
39                 5.1               3.4  ...               0.2       0
31                 5.4               3.4  ...               0.4       0
17                 5.1               3.5  ...               0.3       0
70                 5.9               3.2  ...               1.8       1
26                 5.0               3.4  ...               0.4       0
28                 5.2               3.4  ...               0.2       0
106                4.9               2.5  ...               1.7       2

[30 rows x 5 columns]

In [54]:
# 9. For your sample report max, min, std, mean for columns with the names in col_names
res9 = sample.describe().loc[['max','min', 'std', 'mean']]
res9

      sepal length (cm)  sepal width (cm)  ...  petal width (cm)    Target
max            7.000000          3.800000  ...          2.500000  2.000000
min            4.300000          2.200000  ...          0.100000  0.000000
std            0.705325          0.406117  ...          0.760890  0.808717
mean           5.790000          3.070000  ...          1.203333  0.966667

[4 rows x 5 columns]

In [52]:
#10. For the last column, which you named as 'Target', report the number of counts for unique values
res10 = df.Target.value_counts()
res10

0    50
1    50
2    50
Name: Target, dtype: int64

In [53]:
#11. Save in 'Targets.csv' the results of 10th exercise
res10.to_csv('Targets.csv', index=False)

In [55]:
#12. Save in 'FeatureStats.csv' the results of 9th exercise
res9.to_csv('FeatureStats.csv', index=False)